:root {
    --background: #F9F0E0;
    --dark-bg: #E8D5BA;
    --form-bg: #FFF9EF;
    --hover-cream: #DFC9AC;

    /* project Colours */
    --magenta-border: #696FC7;
    --magenta-bg: #B5BAFF;

    /* Skill card colours */
    --skill-card-border: #65452F;
    --skill-card-bg: #D8C9B5;
    --skill: #F3EEE5;

    /* Contact */
    --input-bg: #DCD7CF;
}