@import url("colours.css");

@font-face {
    font-family: "Rubik";
    src: url("../../assets/fonts/Rubik-VariableFont_wght.ttf") format("woff2");
}

.main-title {
    margin: 100px;
    text-align: center;
    font-size: 3rem;
}

body {
    position: relative;
    font-family: "Rubik";
    background-color: var(--background);
    margin: 0;
}

main {
    display: flex;
    position: relative;
    margin: 0;
    margin-bottom: 30vh;

    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;

    background-color: var(--background);

    z-index: 51;
}

header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 100vw;

    border-bottom: 2px solid var(--dark-bg);

    top: 0;
    left: 0;
    z-index: 105;
    background-color: var(--background);
}

header .site-name h2 {
    display: inline-block;
    margin-right: 20px;
}

header .site-name {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}


nav {
    display: flex;
    justify-content: space-around;
    align-items: center;

    aspect-ratio: 10 / 1;
    height: 2rem;
    margin: 10px;

    padding: 10px 5px;
}

nav a {
    text-decoration: none;
    color: inherit;
    font-size: 1rem;
    font-weight: 350;

    margin: 10px;
    padding: 0;

    transition: transform 0.2s ease-out;
}

nav a:hover {
    transform: translateY(-10%);
}

footer {
    position: fixed;
    display: flex;

    box-sizing: border-box;

    bottom: 0; 
    flex-direction: column;

    align-items: center;
    justify-content: center;

    border-top: 2px solid black;
    background-color: var(--dark-bg);

    height: 30vh;
    width: 100%;

    z-index: 50;
}

footer a {
    color: black;
}

.socials {
    display: flex;
    align-items: center;
    justify-content: space-around;

    margin-bottom: 2rem;

    gap: 10px;

    top: 1rem;
    right: 2rem;
}

.socials a {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 20px;
    height: 20px;

    border: 2px solid black;
    border-radius: 5px;
    padding: 5px;
}

.socials a:hover {
    background-color: var(--hover-cream);
}

.socials svg {
    width: 100%;

}

#home-nav-link-mobile {
    display: none;
}

#projects-nav-link-mobile {
    display: none;
}

#skills-nav-link-mobile {
    display: none;
}

#contact-nav-link-mobile {
    display: none;
}

@media (max-width: 800px) {
    #home-nav-link {
        display: none;
    }

    #home-nav-link-mobile {
        display: inline-block;
    }

    #projects-nav-link {
        display: none;
    }

    #projects-nav-link-mobile {
        display: inline-block;
    }

    #skills-nav-link {
        display: none;
    }

    #skills-nav-link-mobile {
        display: inline-block;
    }

    #contact-nav-link {
        display: none;
    }

    #contact-nav-link-mobile {
        display: inline-block;
    }

    header {
        position: fixed;
        display: flex;
        justify-content: center;

        bottom: 0;
        top: auto;
        
        background-color: var(--dark-bg);
    }

    header .site-name {
        display: none;
    }

    nav {
        aspect-ratio: auto;
    }

    header nav a {
        text-decoration: none;
        position: relative;
    }

    header nav {
        width: 100%;
        height: 1rem;
    }

    header nav svg {
        position: relative;
        width: 24px;
        height: 24px;
        margin: 0;
    }

    header nav a.active::before{
        content: "";
        width: 35px; 
        height: 35px; 

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -55%);
        background-color: rgba(122,122,122,0.2);
        border-radius: 50%;
    }

    nav a {
        font-size: 1.5rem;
    }

    .main-title {
        margin: 50px;
        text-align: center;
        font-size: 3rem;
    }

    footer {
        margin-bottom: 2rem;
    }

    main {
        margin-bottom: calc(30vh + 2rem);
    }
}