body {
    background-color: #F9F0E0;
}

main {
    display: flex;
    position: relative;

    align-items: center;
    justify-content: center;

    width: 100%;
    aspect-ratio: 19 / 10;

    /* background-color: blue; */
}

main img {
    position: absolute;
    
    transform: scale(.2);

}

main img {
    position: absolute;
    
    transform: scale(.2);
}

#img1 {
    top: 13%;
    left: 28%;
    transform: translateX(-50%);
    width: clamp(50px, 18vw, 300px);
}

#img2 {
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    width: clamp(50px, 18vw, 300px);
}

#img3 {
    top: 13%;
    left: 71%;
    transform: translateX(-50%);
    width: clamp(50px, 18vw, 300px);
}

#img4 {
    top: 44%;
    left: 75%;
    transform: translateX(-50%);
    width: clamp(50px, 18vw, 300px);
}

#img5 {
    bottom: 12%;
    left: 71%;
    transform: translateX(-50%);
    width: clamp(50px, 18vw, 300px);
}

#img6 {
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    width: clamp(50px, 15vw, 300px);
}

#intro-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* transform: translateY(-20%); */

    width: clamp(300px, 30vw, 600px);
    height: clamp(150px, 15vw, 300px);
    font-size: clamp(8px, 1vw, 42px);

    /* background-color: red; */
}

#intro-container p {
    margin: 5px 0;
}

#intro-container h1 {
    font-size: clamp(16px, 4vw, 62px);
    margin-bottom: 10px;
}